* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 749px;
  margin: 0 auto;
  text-align: center;
}

.prev, .next {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
}

#days {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 10px;
}

.day {
  background-color: lightblue;
  width: 105px;
  height: 105px;
  border: 1px solid #000;
  margin: 1px;
  padding: 5px;
  line-height: 25px;
}

.holiday {
  color: red;
  font-weight: bold;
}
